windows/** linguist-language=C++
linux/** linguist-language=C++
macos/** linguist-language=C++
android/** linguist-language=Java
ios/** linguist-language=Swift
build/** linguist-vendored
*.dart linguist-detectable=true